.cores {
  padding-bottom: 269px;

  &__title {
    margin-top: 1px;
    margin-bottom: 23px;
  }

  &__desc {
    margin-bottom: 60px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    max-width: 285px;
    text-align: center;

    .item__icon {
      margin-bottom: 21px;
      width: 48px;
      height: 48px;
      fill: var(--color-primary);
    }

    .item__title {
      margin-bottom: 9px;
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: var(--color-black);
    }

    .item__description {
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: var(--text-light-gray);

      @include small-tablet {
        font-size: 13px;
      }
    }
  }

  &__delimiter {
    align-self: center;
    margin: 0 10px;
  }

  @include small-desktop {
    padding-bottom: 90px;
  }

  @include tablet {
    padding-bottom: 0;
  }

  @include mobile {
    display: none;
  }
}
