.facts-news {
  padding-top: 181px;
  padding-bottom: 120px;
  background-image: url("../../../img/news-bg-image.png");
  background-position: -9px -350px;
  background-repeat: no-repeat;

  @include small-desktop {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  @include small-tablet {
    padding-top: 60px;
    background-image: none;
  }
}

.facts {
  padding-bottom: 180px;

  &__title {
    padding-bottom: 60px;
  }

  &__graphics {
    display: flex;
    justify-content: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 48px;
    }
  }

  &__descr {
    padding-top: 17px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: var(--color-black);
  }

  @include small-desktop {
    padding-bottom: 60px;
  }

  @include small-tablet {
    display: none;
  }
}

.news {
  &__title {
    margin-bottom: 59px;
  }

  &__cards {
    display: grid;
    grid-auto-rows: 255px;
    grid-gap: 30px;
    grid-template-columns: 1.42fr 1fr;
    margin-bottom: 20px;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      overflow: hidden;
      border-radius: 4px;
      box-shadow: 0 80px 80px -20px rgb(154 156 165 / 8%),
        0 30px 24px -10px rgb(154 156 165 / 5%),
        0 12px 10px -6px rgb(154 156 165 / 4%),
        0 4px 4px -4px rgb(30 33 44 / 3%);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      &__content {
        padding: 18px 24px 23px;
        background-color: var(--color-light);

        @include small-desktop {
          padding: 12px 10px;
        }
      }

      &__title {
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin-bottom: 7px;
        max-width: 99%;
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        white-space: nowrap;
        text-overflow: ellipsis;

        @include small-desktop {
          font-size: 16px;
          white-space: wrap;
        }
      }

      &__tags {
        display: flex;
        align-items: center;
        overflow: hidden;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        white-space: nowrap;
        color: var(--color-gray--700);

        > span:not(:last-child)::after {
          content: "|";
          margin: 0 10px;

          @include small-desktop {
            margin: 0 2px;
          }
        }

        .tags-icon {
          margin-right: 7px;
          width: 16px;
          height: 16px;
          fill: var(--color-gray--700);

          @include small-desktop {
            margin-right: 2px;
          }
        }

        @include small-desktop {
          font-size: 13px;
        }
      }

      &__desc {
        /* stylelint-disable-next-line value-no-vendor-prefix */
        display: -webkit-box;
        overflow: hidden;
        padding-top: 15px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: var(--color-gray--800);
        -webkit-box-orient: vertical;
        /* stylelint-disable-next-line property-no-unknown */
        box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;

        @include tablet {
          font-size: 13px;
        }
      }

      &:nth-child(n + 2) {
        .card__desc {
          display: none;
        }
      }

      &:nth-child(1) {
        grid-row: span 2;
        background-image: url("../../../img/news-image-1.jpg");

        .card__content {
          padding-top: 26px;
          padding-bottom: 25px;
        }

        .card__title {
          margin-bottom: 11px;
        }

        @include small-tablet {
          grid-row: 1;

          .card__desc {
            display: none;
          }
        }
      }

      &:nth-child(2) {
        background-image: url("../../../img/news-image-1.jpg");
      }

      &:nth-child(3) {
        background-image: url("../../../img/news-image-1.jpg");
      }
    }

    @include small-desktop {
      margin-bottom: 0;
    }

    @include small-tablet {
      grid-template-columns: 1fr;
    }
  }
}
