.hero {
  position: relative;
  margin-bottom: -30px;
  background-color: var(--color-light);

  &__container {
    position: absolute;
    top: calc(50% - 39px);
    z-index: 10;
    width: 100%;

    .slider-btn {
      position: absolute;
      z-index: 99;
      border: none;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      cursor: pointer;

      &__icon {
        width: 18px;
        height: 11px;
      }

      &:active {
        transform: scale(0.97);
      }

      &--prev {
        left: 23px;
      }

      &--next {
        right: 23px;
      }

      &--disabled {
        opacity: 0.5;
        cursor: default;

        &:active {
          transform: none;
        }
      }

      @media screen and (max-width: 1440px) {
        display: none;
      }
    }

    @include tablet {
      padding-top: 60px;
    }
  }

  &__slider {
    height: 988px;

    .swiper {
      &-slide {
        background-image: url("../../../img/hero-slide-1.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: var(--color-black);

        &__content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 0 auto;
          padding: 0 15px;
          height: 100%;
          max-width: calc(var(--container-width) - 30px);
        }

        &__title {
          margin-bottom: 23px;
          font-weight: 700;
          font-size: 72px;
          line-height: 130%;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: var(--color-light);

          &--color-primary {
            color: var(--color-primary);
          }

          @include small-tablet {
            font-size: 56px;
          }

          @include mobile {
            font-size: 36px;
          }
        }

        &__desc {
          margin: 0;
          margin-bottom: 62px;
          max-width: 595px;
          font-weight: 400;
          font-size: 20px;
          line-height: 150%;
          color: var(--color-light);

          @include small-tablet {
            font-size: 16px;
          }

          @include mobile {
            margin-right: 30%;
            font-size: 13px;
          }
        }

        &__btns {
          display: flex;
          margin-bottom: 180px;

          :nth-child(1) {
            margin-right: 24px;

            @include small-tablet {
              margin-right: 18px;
            }
          }

          @include tablet {
            margin-bottom: 40px;
          }
        }
      }
    }

    @include tablet {
      height: 640px;
    }

    @include mobile {
      height: 480px;
    }
  }

  &-pagination {
    z-index: 999;
    display: flex;
    transform: translateY(-164px);

    &__bullet {
      position: relative;
      width: 178px;
      height: 30px;
      font-weight: 700;
      font-size: 28px;
      line-height: 150%;
      color: var(--color-light);
      opacity: 0.3;
      cursor: pointer;

      &::before {
        position: absolute;
        top: -1px;
        border-bottom: 3px solid rgb(255 255 255);
        padding-bottom: 11px;
        width: 100%;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -25px;
        z-index: 99;
        width: 0%;
        height: 3px;
        background-color: var(--color-light);
        opacity: 1;
        cursor: default;
        pointer-events: none;
      }

      &:not(:last-child) {
        margin-right: 4px;
      }

      &:nth-child(1)::before {
        content: "01";
      }

      &:nth-child(2)::before {
        content: "02";
      }

      &:nth-child(3)::before {
        content: "03";
      }

      &:nth-child(4)::before {
        content: "04";
      }

      &--active {
        opacity: 1;

        &::before {
          border-color: rgb(255 255 255 / 30%);
        }

        &::after {
          left: 0;
          width: 100%;
          transition: width 4s linear 0.3s;
        }
      }
    }

    @include tablet {
      transform: translateY(-70px);
    }

    @include mobile {
      transform: translateY(-55px);
    }
  }
}
