.partners {
  padding-top: 81px;
  background-color: var(--color-gray--200);

  &__title {
    margin-bottom: 59px;

    @include small-tablet {
      display: none;
    }
  }

  &-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 177px;

    &__item {
      opacity: 0.7;
      filter: grayscale(100%);
      transition: opacity 0.2s ease-in-out, filter 0.2s ease-in-out;

      &:hover {
        opacity: 1;
        filter: grayscale(0);
      }
    }

    @include small-desktop {
      margin-bottom: 60px;
    }

    @include small-tablet {
      display: none;
    }
  }

  &-reviews {
    display: flex;

    &__review {
      margin-right: auto;

      .review {
        &__title {
          margin-bottom: 60px;
          text-align: left;

          @include small-desktop {
            margin-bottom: 30px;
          }

          @include mobile {
            font-size: 22px;
          }
        }

        &-slider {
          position: relative;
          width: 47vw;
          max-width: 640px;

          &-nav {
            position: absolute;
            right: 31px;
            bottom: -6px;
            z-index: 99;
            display: flex;

            &__btn {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              padding: 12px;
              cursor: pointer;

              &:first-child {
                margin-right: 6px;
              }

              @include hover {
                box-shadow: 0 0 8px rgb(136 136 136 / 20%);
              }
            }

            &__icon {
              width: 18px;
              height: 14px;
            }

            @include mobile {
              right: 0;
            }
          }

          @include small-tablet {
            width: 90vw;
            max-width: none;
          }
        }

        &-slide {
          background-color: var(--color-gray--200);

          &__img {
            display: block;
            margin-bottom: 25px;
            border-radius: 50%;
            width: 72px;
            height: 72px;
          }

          &__text {
            margin-bottom: 25px;
            max-height: 115px;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: var(--color-gray--800);

            @include mobile {
              font-size: 14px;
            }
          }

          &__emploee {
            margin-bottom: 4px;
            font-weight: 700;
            font-size: 16px;
            line-height: 160%;
            color: var(--color-black);
          }

          &__company {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: var(--color-gray--700);
          }
        }
      }
    }

    &__img {
      margin-bottom: -61px;
      border-radius: 4px;
      user-select: none;

      @include small-desktop {
        max-width: 400px;
      }

      @include tablet {
        // max-width: 340px;
      }

      @include small-tablet {
        display: none;
      }
    }
  }

  @include small-tablet {
    padding: 60px 0;
  }
}
