.projects {
  padding-top: 122px;
  padding-bottom: 120px;

  .container {
    position: relative;
  }

  &__title {
    margin-bottom: 50px;
    text-align: left;

    @include small-desktop {
      margin-bottom: 25px;
    }
  }

  &-slider {
    position: relative;
    margin: 0 -10px 10px;
    padding: 10px;

    &__slide {
      position: relative;
      display: flex;
      flex-direction: column;
      overflow: visible;
      overflow-y: hidden;
      border-radius: 4px;
      height: 440px;
      background-color: var(--color-light);
      filter: drop-shadow(4px 5px 5px #9a9ca546);
      transition: filter 0.3s ease;

      .project-info {
        position: absolute;
        top: calc(100% - 94px);
        padding-top: 16px;
        width: 100%;
        height: 100%;
        background-color: var(--color-light);
        transition: transform 0.3s ease-in-out 0.05s;
        will-change: transition;

        &__title {
          margin-bottom: 4px;
          font-weight: 700;
          font-size: 20px;
          line-height: 150%;
          text-align: center;
          color: var(--color-black);
        }

        &__desc {
          margin-bottom: 24px;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          text-align: center;
          color: var(--color-gray--700);
        }

        &__link {
          justify-self: center;
          margin: 0 auto;
          border-width: 2px;
          padding: 0 30px;
          width: fit-content;
          font-weight: 700;
          font-size: 14px;
          line-height: 40px;
        }
      }

      &_img {
        height: 345px;
        object-fit: cover;
      }

      &:hover {
        filter: drop-shadow(4px 4px 4px #9a9ca569);

        .project-info {
          transform: translate3d(0, -69px, 0);
        }
      }
    }

    &-nav {
      position: absolute;
      right: 4px;
      bottom: calc(100% - 131px);
      z-index: 999;
      display: flex;
      justify-content: flex-end;
      width: 200px;

      &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        fill: var(--color-light);
        background-color: var(--color-primary);
        transition: background 0.3s ease-in-out, color 0.2s ease-in-out;
        cursor: pointer;

        &--disabled {
          fill: var(--color-black);
          background-color: var(--color-light);
          cursor: default;
        }
      }

      &__icon {
        width: 18px;
        height: 11px;
      }

      @include small-desktop {
        bottom: calc(100% - 90px);
      }

      @include tablet {
        display: none;
      }
    }

    @include mobile {
      margin-bottom: 0;
    }
  }

  @include small-desktop {
    padding: 60px 0;
  }
}

.projects-title-br {
  @include mobile {
    display: none;
  }
}
