$list-item-transition: all 0.4s ease-in-out;

.services {
  padding-top: 215px;
  padding-bottom: 80px;
  background-image: url("../../img/services-bg.png");
  background-size: cover;
  background-repeat: no-repeat;

  &-container {
    position: relative;
  }

  &-question {
    position: absolute;
    top: -383px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    border-radius: 4px;
    padding: 67px 60px 48px;
    box-shadow: 0 80px 80px -20px rgb(154 156 165 / 8%),
      0 30px 24px -10px rgb(154 156 165 / 5%),
      0 12px 10px -6px rgb(154 156 165 / 4%), 0 4px 4px -4px rgb(30 33 44 / 3%);
    background-color: var(--color-light);

    &__title {
      margin-bottom: 33px;
      font-weight: 700;
      font-size: 28px;
      line-height: 150%;
      text-align: center;
    }

    &__form {
      display: grid;
      grid-column-gap: 24px;
      grid-template-columns:
        minmax(180px, 260px) minmax(180px, 260px) minmax(180px, 414px)
        102px;
    }

    &__input {
      margin-top: 7px;
    }

    &__btn {
      align-self: flex-end;
      padding: 0 27.5px;
      line-height: 40px;
      letter-spacing: 0.5px;
    }

    @include small-desktop {
      top: -310px;
    }
  }

  &__header {
    margin-bottom: 23px;
  }

  &__desc {
    margin-bottom: 60px;
  }

  &-list {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 21px;

    &__item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: 4px;
      padding-top: 89px;
      padding-bottom: 90px;
      box-shadow: 0 80px 80px -20px rgb(154 156 165 / 8%),
        0 30px 24px -10px rgb(154 156 165 / 5%),
        0 12px 10px -6px rgb(154 156 165 / 4%),
        0 4px 4px -4px rgb(30 33 44 / 3%);
      background-color: var(--color-light);

      &::before {
        content: "";
        position: absolute;
        z-index: 5;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0;
        transition: $list-item-transition;
        inset: 0 0;
      }

      &::after {
        content: "";
        position: absolute;
        z-index: 10;
        background-color: rgb(30 33 44 / 60%);
        opacity: 0;
        transition: $list-item-transition;
        inset: 0;
      }

      .icon {
        z-index: 11;
        margin-bottom: 24px;
        width: 52px;
        height: 52px;
        fill: var(--color-primary);
        transition: $list-item-transition;
      }

      .text {
        z-index: 11;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: var(--color-black);
        transition: $list-item-transition;
      }

      &:nth-child(1)::before {
        background-image: url("../../../img/services-list-img-1.jpg");
      }

      &:nth-child(2)::before {
        background-image: url("../../../img/services-list-img-1.jpg");
      }

      &:nth-child(3)::before {
        background-image: url("../../../img/services-list-img-1.jpg");
      }

      &:nth-child(4)::before {
        background-image: url("../../../img/services-list-img-1.jpg");
      }

      @include hover {
        box-shadow: 0 60px 80px -20px rgb(30 33 44 / 16%),
          0 26px 24px -10px rgb(30 33 44 / 10%),
          0 12px 10px -6px rgb(30 33 44 / 8%), 0 4px 4px -4px rgb(30 33 44 / 5%);

        &::before,
        &::after {
          opacity: 1;
        }

        .icon {
          fill: var(--color-light);
        }

        .text {
          color: var(--color-light);
        }
      }
    }
  }

  @include tablet {
    display: none;
  }
}
