.video {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 121px;
    padding-bottom: 180px;

    @include small-desktop {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @include mobile {
      padding-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 23px;
  }

  &__desc {
    margin-bottom: 60px;
  }

  &__block {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    max-height: 500px;
  }

  &__player {
    position: relative;
    z-index: 1;
    border-radius: 4px;
    background-color: var(--color-black);

    // max-height: inherit; уместит плеер в родителя урезая ширину видео
  }
}

.control {
  position: absolute;
  z-index: 9;
  inset: 0;

  &__btn {
    position: absolute;
    z-index: 10;
    outline: none;
    border: none;
    border-radius: 50%;
    padding: 40px;
    background-color: rgba(0 0 0 / 12%);
    transition: opacity 0.2s ease;
    cursor: pointer;

    &:active {
      transform: scale(0.97);
    }

    &--play {
      left: calc(50% - 40px);
      top: calc(50% - 40px);
      background-image: url("../../../img/play-video.svg");
      background-position: 55% 52%;
      background-repeat: no-repeat;
      background-color: var(--color-primary);
    }

    &--pause {
      background-image: url("../../../img/pause-video.svg");
      background-position: 50% 52%;
      background-repeat: no-repeat;
      background-color: rgba(0 0 0 / 12%);
    }

    &--mute {
      left: 32px;
      bottom: 32px;
      padding: 22px;
      background-image: url("../../../img/mute-video.svg");
      background-position: 52% 52%;
      background-repeat: no-repeat;
    }

    &--muted {
      background-image: url("../../../img/unmute-video.svg");
    }

    &--fullscreen {
      right: 32px;
      bottom: 32px;
      padding: 22px;
      background-image: url("../../../img/fullscreen-video.svg");
      background-position: 52% 52%;
      background-size: 70px;
      background-repeat: no-repeat;
    }
  }

  &.overlay {
    z-index: 9999;
    background-color: rgb(0 0 0 / 40%);
    backdrop-filter: blur(3px);

    .control__btn {
      visibility: visible;
    }
  }
}

.hidden {
  visibility: hidden;
}
