.feedback {
  padding: 80px 0;
  background-image: url("../../img/support-form-bg.jpg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;

  .container {
    display: flex;
    justify-content: flex-end;

    @include mobile {
      justify-content: center;
      padding: 0;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    padding: 48px 40px;
    max-width: 495px;
    background-color: var(--color-light);

    &__title {
      margin-bottom: 24px;
      font-weight: 700;
      font-size: 28px;
      line-height: 150%;
      color: var(--color-black);

      @include mobile {
        font-size: 18px;
      }
    }

    &__label {
      width: 100%;

      &--checkbox {
        display: flex;
        align-self: start;
        margin-bottom: 23px;
        cursor: pointer;
        user-select: none;

        .checkbox-label-text {
          margin-top: -2px;
          margin-left: 12px;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          color: var(--color-gray--800);

          @include mobile {
            font-size: 12px;
          }
        }
      }

      @include mobile {
        width: 100%;
      }
    }

    &__input {
      margin-top: 8px;
      margin-bottom: 20px;
      min-width: 415px;

      @include mobile {
        min-width: 100%;
      }
    }

    &__textarea {
      margin-top: 8px;
      margin-bottom: 23px;
      min-width: 415px;
      resize: none;

      @include mobile {
        min-width: 100%;
      }
    }

    &__btn {
      margin-left: 2px;
      padding: 0 31px;
      line-height: 40px;
      letter-spacing: -1px;
    }

    @include mobile {
      border-radius: 0;
      padding: 0 15px 30px;
      width: 100%;
      max-width: none;
    }
  }

  @include small-desktop {
    padding: 60px 0;
  }

  @include mobile {
    padding: 0;
  }
}
