.footer {
  background-color: var(--color-black);

  &-container {
    display: flex;
    flex-direction: column;
    padding: 80px 15px;

    @include mobile {
      padding: 60px 15px 30px;
    }
  }

  &-top {
    display: flex;
    margin-bottom: 49px;

    &__about {
      margin-right: 245px;
      max-width: 490px;

      @include tablet {
        margin-right: 80px;
      }

      @include small-tablet {
        margin-right: 40px;
      }

      @include mobile {
        margin-right: 0;
      }
    }

    &__logo {
      margin-right: 59px;

      @include small-desktop {
        margin-right: 20px;
      }

      @include small-tablet {
        margin-right: 100%;
        margin-bottom: 20px;
      }

      @include mobile {
        margin-right: 20px;
        margin-bottom: 0;
      }

      @media screen and (max-width: 350px) {
        margin-bottom: 15px;
      }
    }

    &__desc {
      padding-top: 22px;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: var(--color-light);
      opacity: 0.6;

      @include small-tablet {
        max-width: 600px;
      }

      @include mobile {
        margin-bottom: 20px;
      }
    }

    &__socials {
      display: inline-block;

      .link {
        opacity: 0.6;

        &:not(:last-child) {
          margin-right: 18px;

          @include small-desktop {
            margin-right: 12px;
          }

          @include mobile {
            margin-right: 12px;
          }
        }

        &:last-child {
          margin-left: -4px;
        }
      }
    }

    &__subscribe {
      width: 100%;

      .subscribe {
        &__title {
          margin-bottom: 24px;
          font-weight: 700;
          font-size: 24px;
          line-height: 150%;
          white-space: nowrap;
          color: var(--color-light);
        }

        &__form {
          display: inline-flex;
          justify-content: flex-end;
          margin-bottom: 16px;
          width: 100%;
        }

        &__input {
          margin: 0;
          outline: none;
          border: none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          width: 100%;
          min-width: 200px;

          @include mobile {
            min-width: auto;
          }
        }

        &__btn {
          display: inline-block;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          padding-right: 22px;
          padding-left: 22px;
          line-height: 40px;
          letter-spacing: -0.5px;
        }

        &__desc {
          font-weight: 400;
          font-size: 12px;
          line-height: 150%;
          color: var(--color-light);
          opacity: 0.6;
        }
      }
    }

    @include mobile {
      flex-direction: column;
    }
  }

  &-nav {
    display: flex;
    margin-bottom: 48px;

    &__list {
      display: flex;
      flex-direction: column;
      font-size: 16px;

      &::before {
        margin-bottom: 13px;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 1px;
        white-space: nowrap;
        text-transform: uppercase;
        color: var(--color-light);
      }

      &--contacts {
        margin-right: 124px;

        &::before {
          content: "Head Office";
          margin-bottom: 13px;
          font-weight: 700;
          font-size: 16px;
          line-height: 150%;
          text-transform: uppercase;
          color: var(--color-light);
        }

        @include tablet {
          margin-right: 40px;
          font-size: 12px;
        }

        @include small-tablet {
          margin-right: 100%;
          margin-bottom: 30px;
        }
      }

      &--about {
        margin-right: 124px;

        &::before {
          content: "Who we are";
        }

        @include tablet {
          margin-right: 40px;
        }

        @include small-tablet {
          margin-bottom: 30px;
        }
      }

      &--experience {
        &::before {
          content: "Our experience";
        }
      }
    }

    &__item {
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      white-space: nowrap;
      color: rgb(255 255 255 / 60%);

      &:not(:last-child) {
        margin-bottom: 5px;
      }

      &--title {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-light);

        @include small-tablet {
          font-size: 14px;
        }

        @include mobile {
          font-size: 12px;
        }
      }

      @include small-tablet {
        font-size: 14px;
      }

      @include mobile {
        font-size: 12px;
      }
    }

    @include small-tablet {
      flex-wrap: wrap;
    }

    @include mobile {
      margin-bottom: 10px;
    }
  }

  &-bottom {
    display: flex;
    justify-content: space-between;

    &__text {
      display: flex;
      align-items: center;
      padding-top: 11px;
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      white-space: nowrap;
      color: var(--color-light);
    }

    &__icon {
      margin: 0 5px;
    }

    &__btn {
      position: relative;
      margin-top: -10px;
      padding: 14px 10px 13px;

      &::before {
        content: "GO TO TOP";
        position: absolute;
        right: calc(100% + 16px);
        bottom: -3px;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        white-space: nowrap;

        @include mobile {
          display: none;
        }
      }

      @media screen and (max-width: 425px) {
        display: none;
      }
    }
  }
}
