.header {
  position: relative;
  width: 100%;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 23px;
    background-color: var(--color-light);
  }

  &__logo {
    height: 22px;

    @include small-desktop {
      height: 20px;
    }

    @include small-tablet {
      height: 18px;
    }
  }

  &-nav {
    margin-left: -112px;

    &__list {
      display: flex;

      @include mobile {
        flex-direction: column;
        padding-top: 3px;
      }
    }

    &__item {
      @include mr(41px);

      font-weight: 700;
      font-size: 16px;
      line-height: 160%;

      @include small-desktop {
        @include mr(24px);
      }

      @include mobile {
        @include mr(0);

        margin-bottom: 20px;
      }
    }

    &--active {
      transform: translateX(-100%);
    }

    @include small-desktop {
      margin-left: 0;
    }

    @include mobile {
      position: absolute;
      left: 100%;
      top: 0;
      z-index: 100;
      padding: 20px 40px;

      // height: 100vh;
      background-color: var(--color-light);
    }
  }

  &-contacts {
    display: flex;

    &__item {
      display: grid;
      grid-column-gap: 11px;
      grid-template-columns: 1fr auto;
      padding-top: 4px;
      color: var(--color-black);
      fill: var(--color-primary);

      &:not(:last-child) {
        margin-right: 38px;

        @include small-desktop {
          margin-right: 20px;
        }
      }
    }

    &__icon {
      width: 40px;
      height: 40px;
    }

    &__desc {
      margin-top: -3px;
      font-family: var(--font-family--primary);
    }

    &__tittle {
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
    }

    &__content {
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      white-space: nowrap;

      @include small-desktop {
        font-size: 16px;
      }
    }

    @include tablet {
      display: none;
    }
  }
}

.burger-btn {
  position: absolute;
  left: -45px;
  top: 16px;
  border: none;
  padding: 5px 15px;
  font-weight: 900;
  font-size: 20px;
  background-color: transparent;
  visibility: hidden;

  @include mobile {
    visibility: visible;
  }
}
