<div class="feedback">
  <div class="container">
    <form class="feedback-form form">
      <h2 class="feedback-form__title">A quick way to discuss details</h2>
      <label class="app-label feedback-form__label"
        >Name*<input
          type="text"
          class="input-reset app-input feedback-form__input"
          placeholder="Your name"
      /></label>
      <label class="app-label feedback-form__label"
        >Phone*<input
          type="text"
          class="input-reset app-input feedback-form__input"
          placeholder="Your phone number"
      /></label>
      <label class="app-label feedback-form__label"
        >Email<input
          type="text"
          class="input-reset app-input feedback-form__input"
          placeholder="Your working email"
      /></label>
      <label class="app-label feedback-form__label"
        >Message*<textarea
          class="input-reset app-textarea feedback-form__textarea"
          placeholder="Your message"
        ></textarea>
      </label>
      <label for="feedback-form-checkbox" class="feedback-form__label--checkbox"
        ><input
          type="checkbox"
          id="feedback-form-checkbox"
          class="input-reset app-checkbox"
        />

        <span class="checkbox-label-text">
          I agree to receive communications from Createx&shy;
          Construction&nbsp;Bureau.
        </span>
      </label>
      <button
        type="submit"
        id="feedback-form-btn"
        class="btn btn-primary feedback-form__btn"
      >
        send request
      </button>
    </form>
  </div>
</div>
