<footer class="footer">
  @include('feedback.html')
  <div class="container footer-container">
    <div class="footer-top">
      <div class="footer-top__about">
        <svg
          class="footer-top__logo"
          width="142"
          height="24"
          viewBox="0 0 142 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_32365_2266)">
            <path
              d="M0 12.1089C0 5.45433 3.60461 1.41797 9.50308 1.41797C13.9815 1.41797 17.5862 4.14524 18.2415 8.18161C18.3508 8.61797 18.0231 8.94524 17.5862 8.94524H14.7462C14.4185 8.94524 14.2 8.72706 14.0908 8.39979C13.5446 6.32706 11.7969 5.01797 9.50308 5.01797C6.33538 5.01797 4.36923 7.74524 4.36923 12.1089C4.36923 16.4725 6.33538 19.1998 9.61231 19.1998C11.9062 19.1998 13.5446 17.9998 14.2 16.0362C14.3092 15.7089 14.5277 15.4907 14.8554 15.4907H17.6954C18.1323 15.4907 18.46 15.9271 18.3508 16.2543C17.6954 20.1816 14.2 22.7998 9.61231 22.7998C3.60462 22.7998 0 18.6543 0 12.1089Z"
              fill="white"
            />
            <path
              d="M26.5428 22.2546H23.3751C23.0474 22.2546 22.8289 22.0364 22.8289 21.7092V2.83643C22.8289 2.40007 23.2659 1.9637 23.7028 1.9637H31.3489C35.8274 1.9637 38.5582 4.47279 38.5582 8.40007C38.5582 10.691 37.4659 12.7637 35.6089 13.8546C35.172 14.0728 35.0628 14.6182 35.2812 14.9455L38.6674 21.3819C38.8859 21.7092 38.5582 22.1455 38.2305 22.1455H34.6259C34.4074 22.1455 34.1889 22.0364 34.0797 21.8182L30.912 15.2728C30.8028 14.9455 30.4751 14.8364 30.1474 14.8364H27.6351C27.3074 14.8364 27.0889 15.0546 27.0889 15.3819V21.8182C27.1982 22.0364 26.8705 22.2546 26.5428 22.2546ZM27.1982 11.1273C27.1982 11.4546 27.4166 11.6728 27.7443 11.6728H31.0212C33.2059 11.6728 34.4074 10.4728 34.4074 8.50916C34.4074 6.54552 33.0966 5.34552 31.0212 5.34552H27.8535C27.5259 5.34552 27.3074 5.5637 27.3074 5.89098V11.1273H27.1982Z"
              fill="white"
            />
            <path
              d="M56.2537 22.2546H44.2383C43.8014 22.2546 43.4737 21.9273 43.4737 21.491V2.72734C43.4737 2.29098 43.8014 1.9637 44.2383 1.9637H56.2537C56.6906 1.9637 57.0183 2.29098 57.0183 2.72734V4.80007C57.0183 5.23643 56.6906 5.5637 56.2537 5.5637H48.2798C47.9521 5.5637 47.7337 5.78188 47.7337 6.10916V9.81825C47.7337 10.1455 47.9521 10.3637 48.2798 10.3637H55.7075C56.1445 10.3637 56.4721 10.691 56.4721 11.1273V12.9819C56.4721 13.4182 56.1445 13.7455 55.7075 13.7455H48.2798C47.9521 13.7455 47.7337 13.9637 47.7337 14.291V18.4364C47.7337 18.7637 47.9521 18.9819 48.2798 18.9819H56.2537C56.6906 18.9819 57.0183 19.3092 57.0183 19.7455V21.8182C57.0183 21.9273 56.6906 22.2546 56.2537 22.2546Z"
              fill="white"
            />
            <path
              d="M73.1846 17.3455H66.9584C66.6307 17.3455 66.4123 17.5637 66.303 17.7819L65.1015 21.8182C64.9923 22.1455 64.7738 22.2546 64.4461 22.2546H61.6061C61.1692 22.2546 60.8415 21.8182 60.9507 21.3819L67.5046 2.40007C67.6138 2.18189 67.8323 1.9637 68.16 1.9637H72.2015C72.5292 1.9637 72.7476 2.18189 72.8569 2.40007L79.4107 21.3819C79.5199 21.8182 79.1923 22.2546 78.7553 22.2546H75.5876C75.2599 22.2546 75.0415 22.0364 74.9323 21.8182L73.7307 17.7819C73.7307 17.5637 73.403 17.3455 73.1846 17.3455ZM67.8323 14.1819H72.3107C72.5292 14.1819 72.6384 13.9637 72.6384 13.7455L70.2353 6.10916H70.0169L67.6138 13.7455C67.5046 13.9637 67.6138 14.1819 67.8323 14.1819Z"
              fill="white"
            />
            <path
              d="M86.2925 21.4914V6.00049C86.2925 5.67322 86.074 5.45504 85.7463 5.45504H80.9402C80.5033 5.45504 80.0663 5.12777 80.0663 4.58231V2.72777C80.0663 2.2914 80.394 1.85504 80.9402 1.85504H95.7955C96.2324 1.85504 96.6694 2.18231 96.6694 2.72777V4.58231C96.6694 5.01867 96.3417 5.45504 95.7955 5.45504H90.9894C90.6617 5.45504 90.4432 5.67322 90.4432 6.00049V21.6005C90.4432 22.0369 90.1155 22.3641 89.6786 22.3641H86.9479C86.6202 22.255 86.2925 21.9278 86.2925 21.4914Z"
              fill="white"
            />
            <path
              d="M113.381 22.2546H101.366C100.929 22.2546 100.601 21.9273 100.601 21.491V2.72734C100.601 2.29098 100.929 1.9637 101.366 1.9637H113.381C113.818 1.9637 114.146 2.29098 114.146 2.72734V4.80007C114.146 5.23643 113.818 5.5637 113.381 5.5637H105.408C105.08 5.5637 104.861 5.78188 104.861 6.10916V9.81825C104.861 10.1455 105.08 10.3637 105.408 10.3637H112.835C113.272 10.3637 113.6 10.691 113.6 11.1273V12.9819C113.6 13.4182 113.272 13.7455 112.835 13.7455H105.408C105.08 13.7455 104.861 13.9637 104.861 14.291V18.4364C104.861 18.7637 105.08 18.9819 105.408 18.9819H113.381C113.818 18.9819 114.146 19.3092 114.146 19.7455V21.8182C114.146 21.9273 113.818 22.2546 113.381 22.2546Z"
              fill="white"
            />
            <path
              d="M128.564 10.5827L121.792 1.74634C121.355 1.30998 120.809 1.0918 120.263 1.0918C119.717 1.0918 119.171 1.30998 118.734 1.74634C117.969 2.61907 117.969 3.92816 118.734 4.80089L124.086 12.0009L118.734 19.2009C117.969 20.0736 117.969 21.3827 118.734 22.2554C119.171 22.6918 119.717 22.91 120.263 22.91C120.809 22.91 121.355 22.6918 121.792 22.2554L128.564 13.4191C129.329 12.7645 129.329 11.4554 128.564 10.5827Z"
              fill="#FF5A30"
            />
            <path
              d="M131.451 10.5827L138.223 1.74634C138.66 1.30998 139.207 1.0918 139.753 1.0918C140.299 1.0918 140.845 1.30998 141.282 1.74634C142.047 2.61907 142.047 3.92816 141.282 4.80089L135.93 12.0009L141.282 19.2009C142.047 20.0736 142.047 21.3827 141.282 22.2554C140.845 22.6918 140.299 22.91 139.753 22.91C139.207 22.91 138.66 22.6918 138.223 22.2554L131.451 13.4191C130.686 12.7645 130.686 11.4554 131.451 10.5827Z"
              fill="#FF5A30"
            />
          </g>
          <defs>
            <clipPath id="clip0_32365_2266">
              <rect width="142" height="24" fill="white" />
            </clipPath>
          </defs>
        </svg>
        <div class="footer-top__socials">
          <a href="/" class="link">
            <svg
              width="20"
              height="22"
              viewBox="0 0 20 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M20 9.74244C20 15.1231 15.6047 19.4849 10.1818 19.4849C8.46022 19.4849 6.84289 19.0449 5.43578 18.2727L0 20L1.77222 14.7729C0.878222 13.3049 0.363333 11.5831 0.363333 9.74244C0.363333 4.36178 4.75911 0 10.1818 0C15.6051 0 20 4.36178 20 9.74244ZM10.1818 1.55156C5.62978 1.55156 1.92711 5.226 1.92711 9.74244C1.92711 11.5347 2.51133 13.1944 3.49956 14.5447L2.46822 17.5867L5.64044 16.5784C6.94378 17.4342 8.50511 17.9333 10.182 17.9333C14.7333 17.9333 18.4367 14.2593 18.4367 9.74289C18.4367 5.22644 14.7336 1.55156 10.1818 1.55156ZM15.1398 11.9862C15.0791 11.8869 14.9189 11.8269 14.6784 11.7076C14.4376 11.5882 13.254 11.0102 13.034 10.9309C12.8133 10.8513 12.6524 10.8113 12.4922 11.0502C12.332 11.2893 11.8707 11.8269 11.73 11.9862C11.5896 12.146 11.4493 12.166 11.2084 12.0464C10.968 11.9271 10.1927 11.6747 9.27333 10.8613C8.558 10.2284 8.07489 9.44711 7.93444 9.20778C7.79422 8.96889 7.91978 8.83978 8.04 8.72089C8.14844 8.61378 8.28089 8.442 8.40111 8.30267C8.52178 8.16311 8.56178 8.06378 8.64156 7.90422C8.72222 7.74489 8.682 7.60556 8.62156 7.48578C8.56156 7.36644 8.07978 6.19133 7.87933 5.71311C7.67889 5.23533 7.47867 5.31489 7.338 5.31489C7.19778 5.31489 7.03711 5.29489 6.87667 5.29489C6.71622 5.29489 6.45533 5.35467 6.23467 5.59356C6.01422 5.83267 5.39267 6.41044 5.39267 7.58533C5.39267 8.76044 6.25467 9.89578 6.37533 10.0549C6.49556 10.214 8.03978 12.7038 10.4864 13.66C12.9333 14.6158 12.9333 14.2969 13.3747 14.2569C13.8156 14.2171 14.7982 13.6793 14.9996 13.122C15.1996 12.5638 15.1996 12.0858 15.1398 11.9862Z"
                fill="white"
              />
            </svg>
          </a>
          <a href="/" class="link">
            <svg
              width="20"
              height="22"
              viewBox="0 0 20 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10 0C4.4775 0 0 4.145 0 9.25875C0 12.1725 1.45375 14.7712 3.72625 16.4688V20L7.13125 18.1313C8.04 18.3825 9.0025 18.5187 10 18.5187C15.5225 18.5187 20 14.3737 20 9.26C20 4.14625 15.5225 0 10 0ZM10.9937 12.4688L8.4475 9.7525L3.47875 12.4688L8.945 6.66625L11.5538 9.3825L16.46 6.66625L10.9937 12.4688Z"
                fill="white"
              />
            </svg>
          </a>
          <a href="/" class="link">
            <svg
              width="12"
              height="22"
              viewBox="0 0 12 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11.5628 0.00457747L8.78558 0C5.66542 0 3.64903 2.12509 3.64903 5.41423V7.91055H0.85662C0.615322 7.91055 0.419922 8.1115 0.419922 8.35937V11.9763C0.419922 12.2241 0.615545 12.4249 0.85662 12.4249H3.64903V21.5514C3.64903 21.7993 3.84443 22 4.08573 22H7.72904C7.97033 22 8.16573 21.799 8.16573 21.5514V12.4249H11.4307C11.672 12.4249 11.8674 12.2241 11.8674 11.9763L11.8688 8.35937C11.8688 8.24036 11.8226 8.12638 11.7409 8.04215C11.6591 7.95793 11.5477 7.91055 11.4318 7.91055H8.16573V5.79439C8.16573 4.77728 8.40168 4.26094 9.6915 4.26094L11.5624 4.26025C11.8035 4.26025 11.9989 4.0593 11.9989 3.81166V0.453169C11.9989 0.205757 11.8037 0.00503522 11.5628 0.00457747Z"
                fill="white"
              />
            </svg>
          </a>
          <a href="/" class="link">
            <svg
              width="22"
              height="20"
              viewBox="0 0 22 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M21.5 2.77233C20.7271 3.10027 19.8978 3.32267 19.0264 3.42196C19.9161 2.91181 20.5972 2.10263 20.92 1.1414C20.0854 1.61383 19.1642 1.95688 18.1826 2.14285C17.3966 1.33994 16.2785 0.839844 15.0384 0.839844C12.6593 0.839844 10.7303 2.68691 10.7303 4.9637C10.7303 5.2866 10.7683 5.60199 10.8418 5.90357C7.26201 5.73141 4.08768 4.08917 1.96314 1.59372C1.59176 2.20189 1.38049 2.91053 1.38049 3.66697C1.38049 5.09814 2.14161 6.36093 3.2964 7.09973C2.5904 7.07713 1.92639 6.89116 1.34508 6.58205V6.63357C1.34508 8.63141 2.83056 10.2988 4.80024 10.6783C4.43936 10.7713 4.05882 10.8228 3.66514 10.8228C3.38696 10.8228 3.11794 10.7964 2.85417 10.7461C3.40267 12.3859 4.99315 13.5783 6.87756 13.611C5.40388 14.7167 3.54573 15.3739 1.52749 15.3739C1.17976 15.3739 0.837236 15.3537 0.5 15.3173C2.40671 16.4896 4.67036 17.1732 7.10327 17.1732C15.028 17.1732 19.3597 10.8881 19.3597 5.43741L19.3453 4.90341C20.1917 4.32537 20.9239 3.59912 21.5 2.77233Z"
                fill="white"
              />
            </svg>
          </a>
          <a href="/" class="link">
            <svg
              width="24"
              height="21"
              viewBox="0 0 24 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M21.3903 1.11358C22.4182 1.39044 23.2288 2.20086 23.5055 3.22899C24.0197 5.10691 23.9999 9.02132 23.9999 9.02132C23.9999 9.02132 23.9999 12.9158 23.5057 14.7939C23.2288 15.8218 22.4184 16.6324 21.3903 16.9091C19.5122 17.4035 12 17.4035 12 17.4035C12 17.4035 4.50731 17.4035 2.60961 16.8895C1.58148 16.6127 0.771054 15.802 0.4942 14.7741C0 12.9158 0 9.00154 0 9.00154C0 9.00154 0 5.10691 0.4942 3.22899C0.770871 2.20104 1.60125 1.37066 2.60943 1.09399C4.48753 0.599609 11.9998 0.599609 11.9998 0.599609C11.9998 0.599609 19.5122 0.599609 21.3903 1.11358ZM15.8549 9.00158L9.60788 12.5996V5.40355L15.8549 9.00158Z"
                fill="white"
              /></svg
          ></a>
        </div>
        <p class="footer-top__desc">
          Createx Construction Bureau has been successfully operating in the USA
          construction market since 2000. We are proud to offer you quality
          construction and exemplary service. Our mission is to set the highest
          standards for construction sphere.
        </p>
      </div>
      <div class="footer-top__subscribe subscribe">
        <h2 class="subscribe__title">Let’s stay in touch</h2>
        <div class="subscribe__form">
          <input type="text" class="app-input subscribe__input" />
          <button class="btn btn-primary subscribe__btn">subscribe</button>
        </div>
        <p class="subscribe__desc">
          *Subscribe to our newsletter to receive communications and early
          updates from Createx Construction Bureau.
        </p>
      </div>
    </div>
    <nav class="footer-nav">
      <ul class="list-reset footer-nav__list footer-nav__list--contacts">
        <li class="footer-nav__item list-item">
          <span class="footer-nav__item--title">Address:&nbsp;</span>
          <a href="#" class="link"> 8502 Preston Rd. Inglewood, New York </a>
        </li>
        <li class="footer-nav__item list-item">
          <span class="footer-nav__item--title">Call:&nbsp;</span>
          <a href="tel:4055550128" class="link">(405) 555-0128</a>
        </li>
        <li class="footer-nav__item list-item">
          <span class="footer-nav__item--title">Email:&nbsp;</span>
          <a href="mailto:hello@createx.com" class="link">
            hello@createx.com
          </a>
        </li>
      </ul>
      <ul class="list-reset footer-nav__list footer-nav__list--about">
        <li class="footer-nav__item list-item">
          <a href="#" class="link">About Us</a>
        </li>
        <li class="footer-nav__item list-item">
          <a href="#" class="link">Available Positions</a>
        </li>
        <li class="footer-nav__item list-item">
          <a href="#" class="link">Contacts</a>
        </li>
      </ul>
      <ul class="list-reset footer-nav__list footer-nav__list--experience">
        <li class="footer-nav__item list-item">
          <a href="#" class="link">Services</a>
        </li>
        <li class="footer-nav__item list-item">
          <a href="#" class="link">Work</a>
        </li>
        <li class="footer-nav__item list-item">
          <a href="#" class="link">News</a>
        </li>
      </ul>
    </nav>
    <div class="footer-bottom">
      <span class="footer-bottom__text">
        © All rights reserved. Made with
        <svg
          class="footer-bottom__icon"
          width="16"
          height="14"
          viewBox="0 0 16 14"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M7.99925 12.2715C4.93321 10.5252 3.22318 8.78955 2.39626 7.28361C1.54992 5.74228 1.62377 4.4441 2.0934 3.52273C3.05872 1.62892 5.80378 1.02333 7.4763 3.13865L7.99921 3.80001L8.52217 3.13868C10.195 1.02327 12.9402 1.62896 13.9055 3.52273C14.3751 4.44408 14.4489 5.74226 13.6025 7.28359C12.7756 8.78954 11.0654 10.5252 7.99925 12.2715ZM7.99928 1.73726C5.64647 -0.498482 2.17555 0.425546 0.905488 2.91723C0.20846 4.2847 0.198939 6.05212 1.22753 7.92536C2.247 9.78198 4.2796 11.7417 7.67675 13.6194L7.99924 13.7976L8.32173 13.6194C11.719 11.7417 13.7517 9.78199 14.7712 7.92537C15.7999 6.05214 15.7904 4.28472 15.0934 2.91723C13.8233 0.425498 10.3523 -0.498448 7.99928 1.73726Z"
            fill="#FF5A30"
          />
        </svg>

        by Createx Studio
      </span>
      <button class="btn btn-primary footer-bottom__btn">
        <svg
          width="16"
          height="9"
          viewBox="0 0 16 9"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M0.292893 8.70711C-0.0976311 8.31658 -0.0976311 7.68342 0.292893 7.29289L7.29289 0.292893C7.68342 -0.0976315 8.31658 -0.0976315 8.70711 0.292893L15.7071 7.29289C16.0976 7.68342 16.0976 8.31658 15.7071 8.70711C15.3166 9.09763 14.6834 9.09763 14.2929 8.70711L8 2.41421L1.70711 8.70711C1.31658 9.09763 0.683417 9.09763 0.292893 8.70711Z"
            fill="white"
          />
        </svg>
      </button>
    </div>
  </div>
</footer>
<script defer src="js/main.js"></script>
