<header class="header">
  <div class="container header-container">
    <img class="header__logo" src="img/header-logo.svg" alt="Createx logo" />
    <nav class="header-nav">
      <button class="burger-btn">&#9776;</button>
      <ul class="list-reset header-nav__list">
        <li class="header-nav__item">
          <a href="/" class="link link--active header-nav__link">About Us</a>
        </li>
        <li class="header-nav__item">
          <a href="/" class="link header-nav__link">Services</a>
        </li>
        <li class="header-nav__item">
          <a href="/" class="link header-nav__link">Work</a>
        </li>
        <li class="header-nav__item">
          <a href="/" class="link header-nav__link">News</a>
        </li>
        <li class="header-nav__item">
          <a href="/" class="link header-nav__link">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="header-contacts">
      <a href="tel:4055550128" class="header-contacts__item">
        <svg class="header-contacts__icon">
          <use xlink:href="img/sprite.svg#call-us-header" />
        </svg>
        <div class="header-contacts__desc">
          <div class="header-contacts__tittle">Call us</div>
          <div class="header-contacts__content">(405) 555-0128</div>
        </div>
      </a>
      <a href="mailto:hello@createx.com" class="header-contacts__item">
        <svg class="header-contacts__icon">
          <use xlink:href="img/sprite.svg#chat-header" />
        </svg>
        <div class="header-contacts__desc">
          <div class="header-contacts__tittle">Talk to us</div>
          <div class="header-contacts__content">hello@createx.com</div>
        </div>
      </a>
    </div>
  </div>
</header>
