<section class="cores">
  <div class="container">
    <h2 class="cores__title title">Our core values</h2>
    <p class="cores__desc title-desc">
      Our mission is to set the highest standards for construction sphere.
    </p>
    <div class="cores__list">
      <div class="cores__item">
        <svg class="item__icon">
          <use xlink:href="img/sprite.svg#cores-like"></use>
        </svg>
        <h3 class="item__title">Quality</h3>
        <p class="item__description">
          Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit
          nostrud aliquip sunt.
        </p>
      </div>
      <img
        class="cores__delimiter"
        src="img/cores-divider.svg"
        alt="delimiter"
        aria-hidden="true"
      />
      <div class="cores__item">
        <svg class="item__icon">
          <use xlink:href="img/sprite.svg#cores-safety"></use>
        </svg>
        <h3 class="item__title">Safety</h3>
        <p class="item__description">
          Anim reprehenderit sint voluptate exercitation adipisicing laborum
          adipisicing. Minim empor est ea.
        </p>
      </div>
      <img
        class="cores__delimiter"
        src="img/cores-divider.svg"
        alt="delimiter"
        aria-hidden="true"
      />
      <div class="cores__item">
        <svg class="item__icon">
          <use xlink:href="img/sprite.svg#cores-comfort"></use>
        </svg>
        <h3 class="item__title">Comfort</h3>
        <p class="item__description">
          Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit
          voluptate ullamco proident ea ad.
        </p>
      </div>
    </div>
  </div>
</section>
