<section class="hero">
  <div class="hero__slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-slide__content">
          <h1 class="swiper-slide__title">
            Create<span class="swiper-slide__title--color-primary">x</span
            ><br />
            Construction
          </h1>
          <p class="swiper-slide__desc">
            Cras ultrices leo vitae non viverra. Fringilla nisi quisque
            consequat, dignissim vitae proin ipsum sed. Pellentesque nec turpis
            purus eget pellentesque integer ipsum elementum felis.
          </p>
          <div class="swiper-slide__btns">
            <button
              class="btn btn-secondary--stroke"
              aria-label="More about us"
            >
              Learn more about us
            </button>
            <button class="btn btn-primary" aria-label="Submit request">
              Submit Request
            </button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide__content">
          <h1 class="swiper-slide__title">
            Create<span class="swiper-slide__title--color-primary">x</span
            ><br />
            Construction
          </h1>
          <p class="swiper-slide__desc">
            Cras ultrices leo vitae non viverra. Fringilla nisi quisque
            consequat, dignissim vitae proin ipsum sed. Pellentesque nec turpis
            purus eget pellentesque integer ipsum elementum felis.
          </p>
          <div class="swiper-slide__btns">
            <button
              class="btn btn-secondary--stroke"
              aria-label="More about us"
            >
              Learn more about us
            </button>
            <button class="btn btn-primary" aria-label="Submit request">
              Submit Request
            </button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide__content">
          <h1 class="swiper-slide__title">
            Create<span class="swiper-slide__title--color-primary">x</span
            ><br />
            Construction
          </h1>
          <p class="swiper-slide__desc">
            Cras ultrices leo vitae non viverra. Fringilla nisi quisque
            consequat, dignissim vitae proin ipsum sed. Pellentesque nec turpis
            purus eget pellentesque integer ipsum elementum felis.
          </p>
          <div class="swiper-slide__btns">
            <button
              class="btn btn-secondary--stroke"
              aria-label="More about us"
            >
              Learn more about us
            </button>
            <button class="btn btn-primary" aria-label="Submit request">
              Submit Request
            </button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide__content">
          <h1 class="swiper-slide__title">
            Create<span class="swiper-slide__title--color-primary">x</span
            ><br />
            Construction
          </h1>
          <p class="swiper-slide__desc">
            Cras ultrices leo vitae non viverra. Fringilla nisi quisque
            consequat, dignissim vitae proin ipsum sed. Pellentesque nec turpis
            purus eget pellentesque integer ipsum elementum felis.
          </p>
          <div class="swiper-slide__btns">
            <button
              class="btn btn-secondary--stroke"
              aria-label="More about us"
            >
              Learn more about us
            </button>
            <button class="btn btn-primary" aria-label="Submit request">
              Submit Request
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container hero-pagination">
    <div class="hero-pagination__bullet">01</div>
    <div class="hero-pagination__bullet">02</div>
    <div class="hero-pagination__bullet">03</div>
    <div class="hero-pagination__bullet">04</div>
  </div>
  <div class="hero__container">
    <button class="slider-btn slider-btn--prev" aria-label="To prev slide">
      <svg class="slider-btn__icon slider-btn__icon--left">
        <use xlink:href="img/sprite.svg#slide-btn-arrow-left" />
      </svg>
    </button>
    <button class="slider-btn slider-btn--next" aria-label="To next slide">
      <svg class="slider-btn__icon slider-btn__icon--next">
        <use xlink:href="img/sprite.svg#slide-btn-arrow-right" />
      </svg>
    </button>
    <div class="container"></div>
  </div>
</section>
