<section class="facts-news">
  <div class="container">
    <div class="facts">
      <h2 class="title facts__title">Some facts and figures</h2>
      <div class="facts__graphics">
        <div class="facts__item">
          <svg
            width="148"
            height="148"
            viewBox="0 0 148 148"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              opacity="0.3"
              cx="74"
              cy="74"
              r="71"
              stroke="#F89828"
              stroke-width="6"
            />
            <path
              d="M74 142C111.555 142 142 111.555 142 74C142 36.4446 111.555 6 74 6V0C114.869 0 148 33.1309 148 74C148 114.869 114.869 148 74 148C33.1309 148 0 114.869 0 74C0 51.3485 10.1774 31.0741 26.209 17.5L30 22.1523C15.3167 34.6254 6 53.2247 6 74C6 111.555 36.4446 142 74 142Z"
              fill="#F89828"
            />
            <path
              d="M49.373 74.096C49.8637 74.096 50.3757 74.0533 50.909 73.968C51.4423 73.8613 51.837 73.7227 52.093 73.552V73.264C52.093 73.1787 52.093 73.0933 52.093 73.008C52.1143 72.9227 52.125 72.848 52.125 72.784C52.1037 72.016 52.0397 71.3013 51.933 70.64C51.8263 69.9573 51.645 69.3707 51.389 68.88C51.133 68.368 50.781 67.9733 50.333 67.696C49.9063 67.3973 49.373 67.248 48.733 67.248C48.221 67.248 47.773 67.3547 47.389 67.568C47.005 67.7813 46.6957 68.0587 46.461 68.4C46.2263 68.7413 46.045 69.1147 45.917 69.52C45.8103 69.9253 45.757 70.32 45.757 70.704C45.757 71.856 46.0343 72.7093 46.589 73.264C47.165 73.8187 48.093 74.096 49.373 74.096ZM51.709 77.2C51.261 77.4133 50.7597 77.5733 50.205 77.68C49.6717 77.7653 49.213 77.808 48.829 77.808C47.4423 77.808 46.2583 77.648 45.277 77.328C44.2957 76.9867 43.485 76.5173 42.845 75.92C42.2263 75.3013 41.7677 74.5653 41.469 73.712C41.1703 72.8587 41.021 71.92 41.021 70.896C41.021 70.0427 41.1597 69.168 41.437 68.272C41.7357 67.376 42.1943 66.5653 42.813 65.84C43.4317 65.0933 44.2103 64.4853 45.149 64.016C46.109 63.5253 47.261 63.28 48.605 63.28C51.357 63.28 53.4263 64.1333 54.813 65.84C56.221 67.5253 56.925 69.9573 56.925 73.136C56.925 75.2267 56.6477 77.072 56.093 78.672C55.5597 80.272 54.717 81.616 53.565 82.704C52.4343 83.792 50.9837 84.624 49.213 85.2C47.4423 85.7547 45.341 86.0427 42.909 86.064C42.8877 85.3813 42.8557 84.72 42.813 84.08C42.7703 83.44 42.7277 82.7787 42.685 82.096C43.901 82.0747 44.9997 81.9893 45.981 81.84C46.9623 81.6693 47.8263 81.4027 48.573 81.04C49.3197 80.656 49.949 80.1547 50.461 79.536C50.9943 78.9173 51.4103 78.1387 51.709 77.2ZM75.2725 79.824C75.2725 80.784 75.1018 81.6693 74.7605 82.48C74.4405 83.2693 73.9498 83.9627 73.2885 84.56C72.6272 85.1573 71.7952 85.6267 70.7925 85.968C69.8112 86.288 68.6698 86.448 67.3685 86.448C65.8752 86.448 64.6272 86.2453 63.6245 85.84C62.6432 85.4133 61.8432 84.8907 61.2245 84.272C60.6272 83.6533 60.2005 82.9813 59.9445 82.256C59.6885 81.5093 59.5605 80.8267 59.5605 80.208C59.5605 79.568 59.6458 78.9813 59.8165 78.448C59.9872 77.9147 60.2218 77.4347 60.5205 77.008C60.8192 76.56 61.1498 76.1547 61.5125 75.792C61.8965 75.4293 62.3018 75.088 62.7285 74.768C61.8112 74.0213 61.1285 73.2853 60.6805 72.56C60.2538 71.8347 60.0405 70.9067 60.0405 69.776C60.0405 68.9227 60.2112 68.1013 60.5525 67.312C60.9152 66.5227 61.4165 65.84 62.0565 65.264C62.6965 64.6667 63.4645 64.1973 64.3605 63.856C65.2778 63.4933 66.2912 63.312 67.4005 63.312C68.7018 63.312 69.8112 63.504 70.7285 63.888C71.6672 64.2507 72.4352 64.72 73.0325 65.296C73.6298 65.872 74.0565 66.5227 74.3125 67.248C74.5898 67.952 74.7285 68.656 74.7285 69.36C74.7285 70.384 74.4512 71.344 73.8965 72.24C73.3632 73.1147 72.6912 73.808 71.8805 74.32C73.0965 75.1093 73.9605 75.9413 74.4725 76.816C75.0058 77.6693 75.2725 78.672 75.2725 79.824ZM64.2005 80.016C64.2005 80.272 64.2538 80.56 64.3605 80.88C64.4885 81.1787 64.6805 81.456 64.9365 81.712C65.1925 81.968 65.5232 82.1813 65.9285 82.352C66.3338 82.5227 66.8245 82.608 67.4005 82.608C68.5098 82.608 69.3205 82.3413 69.8325 81.808C70.3445 81.2747 70.6005 80.6773 70.6005 80.016C70.6005 79.5253 70.4832 79.088 70.2485 78.704C70.0352 78.32 69.7365 77.9893 69.3525 77.712C68.9685 77.4133 68.5098 77.1573 67.9765 76.944C67.4645 76.7093 66.9098 76.496 66.3125 76.304C65.7152 76.752 65.2138 77.2747 64.8085 77.872C64.4032 78.4693 64.2005 79.184 64.2005 80.016ZM70.1205 69.488C70.1205 69.2533 70.0672 69.008 69.9605 68.752C69.8752 68.4747 69.7152 68.2187 69.4805 67.984C69.2672 67.7493 68.9898 67.5573 68.6485 67.408C68.3072 67.2373 67.8912 67.152 67.4005 67.152C66.9312 67.152 66.5258 67.2267 66.1845 67.376C65.8432 67.5253 65.5552 67.728 65.3205 67.984C65.1072 68.2187 64.9472 68.4747 64.8405 68.752C64.7338 69.0293 64.6805 69.296 64.6805 69.552C64.6805 70.2347 64.9258 70.8747 65.4165 71.472C65.9285 72.0693 66.7925 72.5813 68.0085 73.008C68.6912 72.5813 69.2138 72.0907 69.5765 71.536C69.9392 70.9813 70.1205 70.2987 70.1205 69.488ZM88.948 69.52C88.948 71.5253 88.436 73.0613 87.412 74.128C86.388 75.1947 85.012 75.728 83.284 75.728C81.556 75.728 80.18 75.1947 79.156 74.128C78.132 73.0613 77.62 71.5253 77.62 69.52C77.62 67.5147 78.132 65.9787 79.156 64.912C80.18 63.8453 81.556 63.312 83.284 63.312C85.012 63.312 86.388 63.8453 87.412 64.912C88.436 65.9787 88.948 67.5147 88.948 69.52ZM85.332 69.52C85.332 68.432 85.14 67.6427 84.756 67.152C84.372 66.6613 83.8813 66.416 83.284 66.416C82.6653 66.416 82.164 66.6613 81.78 67.152C81.4173 67.6427 81.236 68.432 81.236 69.52C81.236 70.608 81.4173 71.408 81.78 71.92C82.164 72.4107 82.6653 72.656 83.284 72.656C83.8813 72.656 84.372 72.4107 84.756 71.92C85.14 71.408 85.332 70.608 85.332 69.52ZM95.188 63.824H99.636L87.124 86H82.676L95.188 63.824ZM104.756 80.304C104.756 82.3093 104.244 83.8453 103.22 84.912C102.196 85.9787 100.82 86.512 99.092 86.512C97.364 86.512 95.988 85.9787 94.964 84.912C93.94 83.8453 93.428 82.3093 93.428 80.304C93.428 78.2987 93.94 76.7627 94.964 75.696C95.988 74.6293 97.364 74.096 99.092 74.096C100.82 74.096 102.196 74.6293 103.22 75.696C104.244 76.7627 104.756 78.2987 104.756 80.304ZM101.14 80.304C101.14 79.216 100.948 78.4267 100.564 77.936C100.18 77.4453 99.6893 77.2 99.092 77.2C98.4733 77.2 97.972 77.4453 97.588 77.936C97.2253 78.4267 97.044 79.216 97.044 80.304C97.044 81.392 97.2253 82.192 97.588 82.704C97.972 83.1947 98.4733 83.44 99.092 83.44C99.6893 83.44 100.18 83.1947 100.564 82.704C100.948 82.192 101.14 81.392 101.14 80.304Z"
              fill="#1E212C"
            />
          </svg>
          <p class="facts__descr">Totally satisfied clients</p>
        </div>
        <div class="facts__item">
          <svg
            width="148"
            height="148"
            viewBox="0 0 148 148"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              opacity="0.3"
              cx="74"
              cy="74"
              r="71"
              stroke="#F52F6E"
              stroke-width="6"
            />
            <path
              d="M74 142C111.555 142 142 111.555 142 74C142 36.4446 111.555 6 74 6V0C114.869 0 148 33.1309 148 74C148 114.869 114.869 148 74 148C33.1309 148 0 114.869 0 74H6C6 111.555 36.4446 142 74 142Z"
              fill="#F52F6E"
            />
            <path
              d="M71.1845 69.648C71.1845 70.4587 71.0245 71.2373 70.7045 71.984C70.3845 72.7307 69.9685 73.456 69.4565 74.16C68.9445 74.8427 68.3685 75.504 67.7285 76.144C67.0885 76.784 66.4592 77.392 65.8405 77.968C65.5205 78.2667 65.1685 78.608 64.7845 78.992C64.4218 79.3547 64.0698 79.728 63.7285 80.112C63.3872 80.496 63.0778 80.8587 62.8005 81.2C62.5445 81.52 62.3845 81.7867 62.3205 82H71.8565V86H57.0725C57.0298 85.7653 57.0085 85.4667 57.0085 85.104C57.0085 84.7413 57.0085 84.4853 57.0085 84.336C57.0085 83.312 57.1685 82.3733 57.4885 81.52C57.8298 80.6667 58.2672 79.8773 58.8005 79.152C59.3338 78.4053 59.9312 77.712 60.5925 77.072C61.2752 76.432 61.9472 75.792 62.6085 75.152C63.1205 74.6613 63.6005 74.2027 64.0485 73.776C64.4965 73.328 64.8912 72.9013 65.2325 72.496C65.5738 72.0693 65.8405 71.6533 66.0325 71.248C66.2245 70.8213 66.3205 70.3947 66.3205 69.968C66.3205 69.0293 66.0538 68.368 65.5205 67.984C64.9872 67.6 64.3258 67.408 63.5365 67.408C62.9605 67.408 62.4165 67.504 61.9045 67.696C61.4138 67.8667 60.9552 68.08 60.5285 68.336C60.1232 68.5707 59.7712 68.816 59.4725 69.072C59.1738 69.3067 58.9498 69.4987 58.8005 69.648L56.4325 66.32C57.3712 65.4453 58.4592 64.7307 59.6965 64.176C60.9552 63.6 62.2992 63.312 63.7285 63.312C65.0298 63.312 66.1498 63.4613 67.0885 63.76C68.0272 64.0587 68.7952 64.4853 69.3925 65.04C70.0112 65.5733 70.4592 66.2347 70.7365 67.024C71.0352 67.792 71.1845 68.6667 71.1845 69.648ZM90.588 74.864C90.588 78.5973 89.8733 81.4667 88.444 83.472C87.036 85.456 85.084 86.448 82.588 86.448C80.092 86.448 78.1293 85.456 76.7 83.472C75.292 81.4667 74.588 78.5973 74.588 74.864C74.588 73.008 74.7693 71.3653 75.132 69.936C75.516 68.5067 76.06 67.3013 76.764 66.32C77.468 65.3387 78.3107 64.592 79.292 64.08C80.2733 63.568 81.372 63.312 82.588 63.312C85.084 63.312 87.036 64.3147 88.444 66.32C89.8733 68.304 90.588 71.152 90.588 74.864ZM85.724 74.864C85.724 73.7547 85.6707 72.752 85.564 71.856C85.4573 70.9387 85.2867 70.1493 85.052 69.488C84.8173 68.8267 84.4973 68.3147 84.092 67.952C83.6867 67.5893 83.1853 67.408 82.588 67.408C81.9907 67.408 81.4893 67.5893 81.084 67.952C80.7 68.3147 80.38 68.8267 80.124 69.488C79.8893 70.1493 79.7187 70.9387 79.612 71.856C79.5053 72.752 79.452 73.7547 79.452 74.864C79.452 75.9733 79.5053 76.9867 79.612 77.904C79.7187 78.8213 79.8893 79.6107 80.124 80.272C80.38 80.9333 80.7 81.4453 81.084 81.808C81.4893 82.1707 81.9907 82.352 82.588 82.352C83.1853 82.352 83.6867 82.1707 84.092 81.808C84.4973 81.4453 84.8173 80.9333 85.052 80.272C85.2867 79.6107 85.4573 78.8213 85.564 77.904C85.6707 76.9867 85.724 75.9733 85.724 74.864Z"
              fill="#1E212C"
            />
          </svg>
          <p class="facts__descr">Years of experience</p>
        </div>
        <div class="facts__item">
          <svg
            width="148"
            height="148"
            viewBox="0 0 148 148"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              opacity="0.3"
              cx="74"
              cy="74"
              r="71"
              stroke="#5A87FC"
              stroke-width="6"
            />
            <path
              d="M74 142C111.555 142 142 111.555 142 74C142 36.4446 111.555 6 74 6V0C114.869 0 148 33.1309 148 74C148 114.869 114.869 148 74 148C33.1309 148 0 114.869 0 74C0 62.1418 2.78922 50.935 7.74738 41L13.2072 43.5C8.59608 52.673 6 63.0333 6 74C6 111.555 36.4446 142 74 142Z"
              fill="#5A87FC"
            />
            <path
              d="M46.373 74.096C46.8637 74.096 47.3757 74.0533 47.909 73.968C48.4423 73.8613 48.837 73.7227 49.093 73.552V73.264C49.093 73.1787 49.093 73.0933 49.093 73.008C49.1143 72.9227 49.125 72.848 49.125 72.784C49.1037 72.016 49.0397 71.3013 48.933 70.64C48.8263 69.9573 48.645 69.3707 48.389 68.88C48.133 68.368 47.781 67.9733 47.333 67.696C46.9063 67.3973 46.373 67.248 45.733 67.248C45.221 67.248 44.773 67.3547 44.389 67.568C44.005 67.7813 43.6957 68.0587 43.461 68.4C43.2263 68.7413 43.045 69.1147 42.917 69.52C42.8103 69.9253 42.757 70.32 42.757 70.704C42.757 71.856 43.0343 72.7093 43.589 73.264C44.165 73.8187 45.093 74.096 46.373 74.096ZM48.709 77.2C48.261 77.4133 47.7597 77.5733 47.205 77.68C46.6717 77.7653 46.213 77.808 45.829 77.808C44.4423 77.808 43.2583 77.648 42.277 77.328C41.2957 76.9867 40.485 76.5173 39.845 75.92C39.2263 75.3013 38.7677 74.5653 38.469 73.712C38.1703 72.8587 38.021 71.92 38.021 70.896C38.021 70.0427 38.1597 69.168 38.437 68.272C38.7357 67.376 39.1943 66.5653 39.813 65.84C40.4317 65.0933 41.2103 64.4853 42.149 64.016C43.109 63.5253 44.261 63.28 45.605 63.28C48.357 63.28 50.4263 64.1333 51.813 65.84C53.221 67.5253 53.925 69.9573 53.925 73.136C53.925 75.2267 53.6477 77.072 53.093 78.672C52.5597 80.272 51.717 81.616 50.565 82.704C49.4343 83.792 47.9837 84.624 46.213 85.2C44.4423 85.7547 42.341 86.0427 39.909 86.064C39.8877 85.3813 39.8557 84.72 39.813 84.08C39.7703 83.44 39.7277 82.7787 39.685 82.096C40.901 82.0747 41.9997 81.9893 42.981 81.84C43.9623 81.6693 44.8263 81.4027 45.573 81.04C46.3197 80.656 46.949 80.1547 47.461 79.536C47.9943 78.9173 48.4103 78.1387 48.709 77.2ZM65.5205 69.648C64.6885 70.736 63.8032 71.92 62.8645 73.2C61.9258 74.48 61.1365 75.792 60.4965 77.136H65.5205V69.648ZM70.1925 63.824V77.136H72.5605V81.04H70.1925V86H65.5205V81.04H55.9525V77.552C56.4218 76.6133 57.0085 75.5573 57.7125 74.384C58.4165 73.1893 59.1952 71.9733 60.0485 70.736C60.9232 69.4773 61.8405 68.2507 62.8005 67.056C63.7605 65.8613 64.7205 64.784 65.6805 63.824H70.1925ZM85.02 79.472C85.02 78.8533 84.8813 78.3093 84.604 77.84C84.3267 77.3493 83.8467 76.944 83.164 76.624C82.4813 76.304 81.564 76.0587 80.412 75.888C79.26 75.7173 77.8093 75.632 76.06 75.632C76.2947 73.648 76.4867 71.632 76.636 69.584C76.7853 67.536 76.9027 65.616 76.988 63.824H88.988V67.824H80.988C80.9453 68.592 80.892 69.3387 80.828 70.064C80.7853 70.768 80.732 71.3867 80.668 71.92C83.7827 72.1333 86.076 72.8693 87.548 74.128C89.0413 75.3653 89.788 77.0933 89.788 79.312C89.788 80.336 89.6067 81.2853 89.244 82.16C88.8813 83.0347 88.3373 83.792 87.612 84.432C86.8867 85.072 85.9693 85.5733 84.86 85.936C83.772 86.2987 82.492 86.48 81.02 86.48C80.444 86.48 79.836 86.4373 79.196 86.352C78.5773 86.288 77.9693 86.192 77.372 86.064C76.796 85.9573 76.2733 85.84 75.804 85.712C75.3347 85.584 74.972 85.456 74.716 85.328L75.58 81.392C76.1133 81.6267 76.8173 81.8613 77.692 82.096C78.5667 82.3093 79.612 82.416 80.828 82.416C82.3 82.416 83.3667 82.128 84.028 81.552C84.6893 80.9547 85.02 80.2613 85.02 79.472ZM107.56 69.648C107.56 70.4587 107.4 71.2373 107.08 71.984C106.76 72.7307 106.344 73.456 105.832 74.16C105.32 74.8427 104.744 75.504 104.104 76.144C103.464 76.784 102.834 77.392 102.216 77.968C101.896 78.2667 101.544 78.608 101.16 78.992C100.797 79.3547 100.445 79.728 100.104 80.112C99.7622 80.496 99.4528 80.8587 99.1755 81.2C98.9195 81.52 98.7595 81.7867 98.6955 82H108.232V86H93.4475C93.4048 85.7653 93.3835 85.4667 93.3835 85.104C93.3835 84.7413 93.3835 84.4853 93.3835 84.336C93.3835 83.312 93.5435 82.3733 93.8635 81.52C94.2048 80.6667 94.6422 79.8773 95.1755 79.152C95.7088 78.4053 96.3062 77.712 96.9675 77.072C97.6502 76.432 98.3222 75.792 98.9835 75.152C99.4955 74.6613 99.9755 74.2027 100.424 73.776C100.872 73.328 101.266 72.9013 101.608 72.496C101.949 72.0693 102.216 71.6533 102.408 71.248C102.6 70.8213 102.696 70.3947 102.696 69.968C102.696 69.0293 102.429 68.368 101.896 67.984C101.362 67.6 100.701 67.408 99.9115 67.408C99.3355 67.408 98.7915 67.504 98.2795 67.696C97.7888 67.8667 97.3302 68.08 96.9035 68.336C96.4982 68.5707 96.1462 68.816 95.8475 69.072C95.5488 69.3067 95.3248 69.4987 95.1755 69.648L92.8075 66.32C93.7462 65.4453 94.8342 64.7307 96.0715 64.176C97.3302 63.6 98.6742 63.312 100.104 63.312C101.405 63.312 102.525 63.4613 103.464 63.76C104.402 64.0587 105.17 64.4853 105.768 65.04C106.386 65.5733 106.834 66.2347 107.112 67.024C107.41 67.792 107.56 68.6667 107.56 69.648Z"
              fill="#1E212C"
            />
          </svg>
          <p class="facts__descr">Working hours spent</p>
        </div>
        <div class="facts__item">
          <svg
            width="148"
            height="148"
            viewBox="0 0 148 148"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="74" cy="74" r="71" stroke="#03CEA4" stroke-width="6" />
            <path
              d="M33.2713 68.432C33.8899 68.176 34.5299 67.888 35.1913 67.568C35.8739 67.2267 36.5353 66.864 37.1753 66.48C37.8153 66.0747 38.4233 65.6587 38.9993 65.232C39.5966 64.784 40.1299 64.3147 40.5993 63.824H43.9273V86H39.1593V70.032C38.5193 70.4587 37.8046 70.8533 37.0153 71.216C36.2259 71.5573 35.4579 71.856 34.7113 72.112L33.2713 68.432ZM66.3068 74.864C66.3068 78.5973 65.5921 81.4667 64.1628 83.472C62.7548 85.456 60.8028 86.448 58.3068 86.448C55.8108 86.448 53.8481 85.456 52.4188 83.472C51.0108 81.4667 50.3068 78.5973 50.3068 74.864C50.3068 73.008 50.4881 71.3653 50.8508 69.936C51.2348 68.5067 51.7788 67.3013 52.4828 66.32C53.1868 65.3387 54.0294 64.592 55.0108 64.08C55.9921 63.568 57.0908 63.312 58.3068 63.312C60.8028 63.312 62.7548 64.3147 64.1628 66.32C65.5921 68.304 66.3068 71.152 66.3068 74.864ZM61.4428 74.864C61.4428 73.7547 61.3894 72.752 61.2828 71.856C61.1761 70.9387 61.0054 70.1493 60.7708 69.488C60.5361 68.8267 60.2161 68.3147 59.8108 67.952C59.4054 67.5893 58.9041 67.408 58.3068 67.408C57.7094 67.408 57.2081 67.5893 56.8028 67.952C56.4188 68.3147 56.0988 68.8267 55.8428 69.488C55.6081 70.1493 55.4374 70.9387 55.3308 71.856C55.2241 72.752 55.1708 73.7547 55.1708 74.864C55.1708 75.9733 55.2241 76.9867 55.3308 77.904C55.4374 78.8213 55.6081 79.6107 55.8428 80.272C56.0988 80.9333 56.4188 81.4453 56.8028 81.808C57.2081 82.1707 57.7094 82.352 58.3068 82.352C58.9041 82.352 59.4054 82.1707 59.8108 81.808C60.2161 81.4453 60.5361 80.9333 60.7708 80.272C61.0054 79.6107 61.1761 78.8213 61.2828 77.904C61.3894 76.9867 61.4428 75.9733 61.4428 74.864ZM84.4943 74.864C84.4943 78.5973 83.7796 81.4667 82.3503 83.472C80.9423 85.456 78.9903 86.448 76.4943 86.448C73.9983 86.448 72.0356 85.456 70.6063 83.472C69.1983 81.4667 68.4943 78.5973 68.4943 74.864C68.4943 73.008 68.6756 71.3653 69.0383 69.936C69.4223 68.5067 69.9663 67.3013 70.6703 66.32C71.3743 65.3387 72.2169 64.592 73.1983 64.08C74.1796 63.568 75.2783 63.312 76.4943 63.312C78.9903 63.312 80.9423 64.3147 82.3503 66.32C83.7796 68.304 84.4943 71.152 84.4943 74.864ZM79.6303 74.864C79.6303 73.7547 79.5769 72.752 79.4703 71.856C79.3636 70.9387 79.1929 70.1493 78.9583 69.488C78.7236 68.8267 78.4036 68.3147 77.9983 67.952C77.5929 67.5893 77.0916 67.408 76.4943 67.408C75.8969 67.408 75.3956 67.5893 74.9903 67.952C74.6063 68.3147 74.2863 68.8267 74.0303 69.488C73.7956 70.1493 73.6249 70.9387 73.5183 71.856C73.4116 72.752 73.3583 73.7547 73.3583 74.864C73.3583 75.9733 73.4116 76.9867 73.5183 77.904C73.6249 78.8213 73.7956 79.6107 74.0303 80.272C74.2863 80.9333 74.6063 81.4453 74.9903 81.808C75.3956 82.1707 75.8969 82.352 76.4943 82.352C77.0916 82.352 77.5929 82.1707 77.9983 81.808C78.4036 81.4453 78.7236 80.9333 78.9583 80.272C79.1929 79.6107 79.3636 78.8213 79.4703 77.904C79.5769 76.9867 79.6303 75.9733 79.6303 74.864ZM98.0418 69.52C98.0418 71.5253 97.5298 73.0613 96.5058 74.128C95.4818 75.1947 94.1058 75.728 92.3778 75.728C90.6498 75.728 89.2738 75.1947 88.2498 74.128C87.2258 73.0613 86.7138 71.5253 86.7138 69.52C86.7138 67.5147 87.2258 65.9787 88.2498 64.912C89.2738 63.8453 90.6498 63.312 92.3778 63.312C94.1058 63.312 95.4818 63.8453 96.5058 64.912C97.5298 65.9787 98.0418 67.5147 98.0418 69.52ZM94.4258 69.52C94.4258 68.432 94.2338 67.6427 93.8498 67.152C93.4658 66.6613 92.9751 66.416 92.3778 66.416C91.7591 66.416 91.2578 66.6613 90.8738 67.152C90.5111 67.6427 90.3298 68.432 90.3298 69.52C90.3298 70.608 90.5111 71.408 90.8738 71.92C91.2578 72.4107 91.7591 72.656 92.3778 72.656C92.9751 72.656 93.4658 72.4107 93.8498 71.92C94.2338 71.408 94.4258 70.608 94.4258 69.52ZM104.282 63.824H108.73L96.2178 86H91.7698L104.282 63.824ZM113.85 80.304C113.85 82.3093 113.338 83.8453 112.314 84.912C111.29 85.9787 109.914 86.512 108.186 86.512C106.458 86.512 105.082 85.9787 104.058 84.912C103.034 83.8453 102.522 82.3093 102.522 80.304C102.522 78.2987 103.034 76.7627 104.058 75.696C105.082 74.6293 106.458 74.096 108.186 74.096C109.914 74.096 111.29 74.6293 112.314 75.696C113.338 76.7627 113.85 78.2987 113.85 80.304ZM110.234 80.304C110.234 79.216 110.042 78.4267 109.658 77.936C109.274 77.4453 108.783 77.2 108.186 77.2C107.567 77.2 107.066 77.4453 106.682 77.936C106.319 78.4267 106.138 79.216 106.138 80.304C106.138 81.392 106.319 82.192 106.682 82.704C107.066 83.1947 107.567 83.44 108.186 83.44C108.783 83.44 109.274 83.1947 109.658 82.704C110.042 82.192 110.234 81.392 110.234 80.304Z"
              fill="#1E212C"
            />
          </svg>
          <p class="facts__descr">Succeeded projects</p>
        </div>
      </div>
    </div>
    <div class="news">
      <h2 class="title news__title">Recent news</h2>
      <div class="news__cards">
        <div class="card">
          <div class="card__content">
            <a href="/" class="link card__title"
              >How to Build Climate Change-Resilient Infrastructure
            </a>
            <div class="card__tags">
              <span>Industry News</span>
              <span>June 24, 2020</span>
              <svg class="tags-icon">
                <use xlink:href="img/sprite.svg#chat-header"></use>
              </svg>
              <span>&nbsp;4 comments </span>
            </div>
            <p class="card__desc">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas
              faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer
              bibendum turpis convallis enim, nibh convallis Lorem ipsum dolor
              sit amet consectetur adipisicing elit. Odio non commodi mollitia
              doloribus numquam quisquam molestias quae? Quod, aliquid enim?
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque,
              possimus quia expedita quas soluta voluptas non corrupti sapiente
              iusto? Odit!
            </p>
          </div>
        </div>

        <div class="card">
          <div class="card__content">
            <a href="/" class="link card__title"
              >How Construction Can Help Itself</a
            >
            <div class="card__tags">
              <span>Innovation</span>
              <span>June 12, 2020</span>
              <svg class="tags-icon">
                <use xlink:href="img/sprite.svg#chat-header"></use>
              </svg>
              <span>&nbsp;No comments</span>
            </div>
            <p class="card__desc">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas
              faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer
              bibendum turpis convallis enim, nibh convallis Lorem ipsum dolor
              sit amet consectetur adipisicing elit. Odio non commodi mollitia
              doloribus numquam quisquam molestias quae? Quod, aliquid enim?
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque,
              possimus quia expedita quas soluta voluptas non corrupti sapiente
              iusto? Odit!
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card__content">
            <a href="/" class="link card__title">Types of Flooring Materials</a>
            <div class="card__tags">
              <span>Company News</span>
              <span>December 1, 2019</span>
              <svg class="tags-icon">
                <use xlink:href="img/sprite.svg#chat-header"></use>
              </svg>
              <span>&nbsp;No comments</span>
            </div>
            <p class="card__desc">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas
              faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer
              bibendum turpis convallis enim, nibh convallis Lorem ipsum dolor
              sit amet consectetur adipisicing elit. Odio non commodi mollitia
              doloribus numquam quisquam molestias quae? Quod, aliquid enim?
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque,
              possimus quia expedita quas soluta voluptas non corrupti sapiente
              iusto? Odit!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="section-end-link">
      <h3 class="section-end-link__title">Explore all our news posts</h3>
      <a href="/" class="btn btn-primary">View all news</a>
    </div>
  </div>
</section>
