<section class="partners">
  <div class="container">
    <h2 class="title partners__title">Supported by 12+ partners</h2>
    <ul class="list-reset partners-list">
      <li class="partners-list__item">
        <img src="img/client-logo-1.png" alt="client logo" aria-hidden="true" />
      </li>
      <li class="partners-list__item">
        <img src="img/client-logo-2.png" alt="client logo" aria-hidden="true" />
      </li>
      <li class="partners-list__item">
        <img src="img/client-logo-3.png" alt="client logo" aria-hidden="true" />
      </li>
      <li class="partners-list__item">
        <img src="img/client-logo-4.png" alt="client logo" aria-hidden="true" />
      </li>
      <li class="partners-list__item">
        <img src="img/client-logo-5.png" alt="client logo" aria-hidden="true" />
      </li>
      <li class="partners-list__item">
        <img src="img/client-logo-6.png" alt="client logo" aria-hidden="true" />
      </li>
    </ul>
    <div class="partners-reviews">
      <div class="partners-reviews__review review">
        <h3 class="title review__title">What our clients are saying</h3>
        <div class="swiper review-slider">
          <div class="swiper-wrapper">
            <div class="review-slide swiper-slide">
              <img
                src="img/profile-image.png"
                alt="Shawn Edwards"
                class="review-slide__img"
              />
              <p class="review-slide__text">
                Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum
                eiusmod enim. Consectetur magna cillum consequat minim laboris
                cillum laboris voluptate minim proident exercitation ullamco.
              </p>
              <div class="review-slide__emploee">Shawn Edwards</div>
              <div class="review-slide__company">Position, Company name</div>
            </div>
            <div class="swiper-slide review-slide">
              <img
                src="img/profile-image.png"
                alt="Shawn Edwards"
                class="review-slide__img"
              />
              <p class="review-slide__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Suscipit omnis, laudantium magni accusamus assumenda
                consequatur, odio porro adipisci quibusdam doloremque itaque
                iusto autem, quisquam sequi nihil!
              </p>
              <div class="review-slide__emploee">Shawn Edwards</div>
              <div class="review-slide__company">Position, Company name</div>
            </div>
            <div class="swiper-slide review-slide">
              <img
                src="img/profile-image.png"
                alt="Shawn Edwards"
                class="review-slide__img"
              />
              <p class="review-slide__text">
                Далеко-далеко за словесными горами в стране гласных, и согласных
                живут рыбные тексты. Языком страна раз первую, родного, коварный
                своих одна предупреждал рот точках путь продолжил, единственное
                возвращайся там рекламных!
              </p>
              <div class="review-slide__emploee">Shawn Edwards</div>
              <div class="review-slide__company">Position, Company name</div>
            </div>
          </div>
          <div class="review-slider-nav">
            <div class="review-slider-nav__btn review-slider-nav__btn--prev">
              <svg class="review-slider-nav__icon">
                <use xlink:href="img/sprite.svg#slide-btn-arrow-left"></use>
              </svg>
            </div>
            <div class="review-slider-nav__btn review-slider-nav__btn--next">
              <svg class="review-slider-nav__icon">
                <use xlink:href="img/sprite.svg#slide-btn-arrow-right"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <img
        src="img/review-image.jpg"
        alt="handshake with client"
        class="partners-reviews__img"
      />
    </div>
  </div>
</section>
