<section class="projects">
  <div class="container">
    <h2 class="projects__title title">
      Browse our selected projects <br class="projects-title-br" />and learn
      more about our work
    </h2>
    <div class="projects-slider-nav">
      <div class="projects-slider-nav__btn projects-slider-nav__btn--prev">
        <svg class="projects-slider-nav__icon">
          <use xlink:href="img/sprite.svg#slide-btn-arrow-left"></use>
        </svg>
      </div>
      <div class="projects-slider-nav__btn projects-slider-nav__btn--next">
        <svg class="projects-slider-nav__icon">
          <use xlink:href="img/sprite.svg#slide-btn-arrow-right"></use>
        </svg>
      </div>
    </div>
    <div class="projects-slider swiper">
      <div class="projects-slider__slider swiper-wrapper">
        <div class="swiper-slide projects-slider__slide">
          <img
            src="img/projects-slide-1.jpg"
            alt="slide"
            aria-label="slide image"
            class="projects-slider__slide_img"
          />
          <div class="project-info">
            <div class="project-info__title">Red Finger Building</div>
            <div class="project-info__desc">Business Centers</div>
            <a href="/" class="btn btn-primary--stroke project-info__link">
              View Project
            </a>
          </div>
        </div>
        <div class="swiper-slide projects-slider__slide">
          <img
            src="img/projects-slide-2.jpg"
            alt="slide"
            aria-label="slide image"
            class="projects-slider__slide_img"
          />
          <div class="project-info">
            <div class="project-info__title">Cubes Building</div>
            <div class="project-info__desc">Business Centers</div>
            <a href="/" class="btn btn-primary--stroke project-info__link">
              View Project
            </a>
          </div>
        </div>
        <div class="swiper-slide projects-slider__slide">
          <img
            src="img/projects-slide-1.jpg"
            alt="slide"
            aria-label="slide image"
            class="projects-slider__slide_img"
          />
          <div class="project-info">
            <div class="project-info__title">The Pencil Building</div>
            <div class="project-info__desc">Stores & Malls</div>
            <a href="/" class="btn btn-primary--stroke project-info__link">
              View Project
            </a>
          </div>
        </div>
        <div class="swiper-slide projects-slider__slide">
          <img
            src="img/projects-slide-2.jpg"
            alt="slide"
            aria-label="slide image"
            class="projects-slider__slide_img"
          />
          <div class="project-info">
            <div class="project-info__title">Red Finger Building</div>
            <div class="project-info__desc">Business Centers</div>
            <a href="/" class="btn btn-primary--stroke project-info__link">
              View Project
            </a>
          </div>
        </div>
        <div class="swiper-slide projects-slider__slide">
          <img
            src="img/projects-slide-1.jpg"
            alt="slide"
            aria-label="slide image"
            class="projects-slider__slide_img"
          />
          <div class="project-info">
            <div class="project-info__title">Cubes Building</div>
            <div class="project-info__desc">Business Centers</div>
            <a href="/" class="btn btn-primary--stroke project-info__link">
              View Project
            </a>
          </div>
        </div>
        <div class="swiper-slide projects-slider__slide">
          <img
            src="img/projects-slide-2.jpg"
            alt="slide"
            aria-label="slide image"
            class="projects-slider__slide_img"
          />
          <div class="project-info">
            <div class="project-info__title">The Pencil Building</div>
            <div class="project-info__desc">Stores & Malls</div>
            <a href="/" class="btn btn-primary--stroke project-info__link">
              View Project
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="section-end-link">
      <h3 class="section-end-link__title">Explore all our works</h3>
      <a href="/" class="btn btn-primary">View portfolio</a>
    </div>
  </div>
</section>
