<section class="services">
  <div class="container services-container">
    <div class="services-question">
      <h2 class="services-question__title">
        Want to know more? Ask us a question:
      </h2>
      <form class="services-question__form form">
        <label class="app-label services-question__label">
          Name
          <input
            class="input-reset app-input services-question__input"
            type="text"
            placeholder="Your name"
          />
        </label>
        <label class="app-label services-question__label">
          Phone
          <input
            class="input-reset app-input services-question__input"
            type="text"
            placeholder="Your phone"
          />
        </label>
        <label class="app-label services-question__label">
          Message
          <input
            class="input-reset app-input services-question__input"
            type="text"
            placeholder="Your message"
          />
        </label>
        <button type="button" class="services-question__btn btn btn-primary">
          Send
        </button>
      </form>
    </div>
    <h2 class="title services__header">Our services</h2>
    <p class="services__desc title-desc">
      Createx Construction Bureau is a construction giant with a full range of
      construction services.
    </p>
    <ul class="list-reset services-list">
      <li class="services-list__item">
        <svg class="icon">
          <use xlink:href="img/sprite.svg#services-construction"></use>
        </svg>
        <div class="text">Construction</div>
      </li>
      <li class="services-list__item">
        <svg class="icon">
          <use xlink:href="img/sprite.svg#services-development"></use>
        </svg>
        <div class="text">Project Development</div>
      </li>
      <li class="services-list__item">
        <svg class="icon">
          <use xlink:href="img/sprite.svg#services-design"></use>
        </svg>
        <div class="text">Interior Design</div>
      </li>
      <li class="services-list__item">
        <svg class="icon">
          <use xlink:href="img/sprite.svg#services-repair"></use>
        </svg>
        <div class="text">Repairs</div>
      </li>
    </ul>
    <div class="section-end-link">
      <h3 class="section-end-link__title">Learn more about our services</h3>
      <button class="btn btn-primary services-more__btn">View services</button>
    </div>
  </div>
</section>
