<section class="video">
  <div class="container video-container">
    <h2 class="title video__title">We are Createx Construction Bureau</h2>
    <p class="video__desc title-desc">
      We are rightfully considered to be the best construction company in the
      USA.
    </p>
    <div class="video__block">
      <div class="control hidden">
        <button
          class="control__btn control__btn--play"
          aria-label="Play video"
        ></button>
        <button
          class="control__btn control__btn--mute hidden"
          aria-label="Mute player"
        ></button>
        <button class="control__btn control__btn--fullscreen hidden"></button>
      </div>

      <video
        class="video__player"
        loop
        preload="metadata"
        poster="video-poster.jpg"
      >
        <source src="mock.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</section>
