@import "vars";
@import "mixins";
@import "fonts";
@import "settings";
@import "./components/header";

.page__body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--vh);
}
