html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family--primary, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; /* если используете на сайте position: sticky - уберите эту настройку */
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  display: flex;
  align-items: center;
  margin: 0;
  outline: none;
  border-style: solid;
  border-color: transparent;
  border-radius: 4px;
  padding: 0 38px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 46px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--color-light);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  user-select: none;

  &-primary {
    border-color: var(--color-primary);
    background-color: var(--color-primary);

    &--stroke {
      border-color: var(--color-primary);
      color: var(--color-primary);
      background-color: transparent;

      &:hover {
        border-color: var(--color-primary);
        color: var(--color-light);
        background-color: var(--color-primary);
      }
    }

    @include hover {
      border-color: var(--color-primary--active);
      background-color: var(--color-primary--active);
    }
  }

  &-secondary {
    border-color: var(--color-light);
    background-color: var(--color-light);

    &--stroke {
      border-color: var(--color-light);
      background-color: transparent;

      @include hover {
        border-color: var(--color-primary);
        color: var(--color-light);
        background-color: var(--color-primary);
      }
    }

    @include hover {
      border-color: var(--color-primary);
      color: var(--color-light);
      background-color: var(--color-primary);
    }
  }

  &:active {
    transform: scaleX(1.02);
  }

  &--disabled {
    opacity: 0.5;
    cursor: default;

    &:active {
      transform: none;
    }
  }

  @include small-tablet {
    padding: 0 10px;
    font-size: 12px;
    line-height: 36px;
    letter-spacing: normal;
  }

  @include mobile {
    font-size: 11px;
    white-space: nowrap;
  }
}

.title {
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  text-align: center;

  &-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: var(--color-gray--700);

    @include small-desktop {
      font-size: 16px;
    }
  }

  @include small-desktop {
    font-size: 26px;
  }
}

.link {
  white-space: nowrap;
  color: var(--text-gray);
  transition: color 0.1s ease-in-out;
  cursor: pointer;

  &--active {
    color: var(--color-primary);
  }

  @include hover {
    color: var(--color-primary);
  }
}

.app-input {
  border: 1px solid var(--color-gray--400);
  border-radius: 4px;
  padding: 10px 16px 11px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  background-color: var(--color-gray--200);

  &::placeholder {
    color: var(--color-gray--600);
  }
}

.app-checkbox {
  border: 1px solid var(--color-gray--400);
  border-radius: 3px;
  width: 16px;
  height: 16px;
  min-width: 16px;
  box-sizing: border-box;
  background-color: var(--color-light);
  cursor: pointer;

  &:checked {
    border-color: var(--color-primary);
    font-size: 14px;
    background-image: url("../img/check.svg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: var(--color-primary);
  }
}

.app-textarea {
  border: 1px solid var(--color-gray--400);
  border-radius: 4px;
  padding: 11px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  background-color: var(--color-gray--200);

  &::placeholder {
    color: var(--color-gray--600);
  }
}

.app-label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-gray--800);
}

.section-end-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;

  &__title {
    margin-right: 40px;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;

    @include mobile {
      margin-right: 0;
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 100%;
    }
  }

  @include mobile {
    flex-direction: column;
  }
}

video[poster] {
  z-index: -1;
  width: 100%;
  height: 100%;
}
