:root {
  --content-width: 1230px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  /*
    Font vars
  */
  --font-family--primary: "Ubuntu", sans-serif;
  --font-family--secondary: "Lato", sans-serif;

  /*
    Color vars
  */
  ----input-background-color: #f4f5f7;
  --input-border-color: #d7dadd;
  --color-light: #fff;
  --color-primary: #ff5a30;
  --color-primary--active: #fc3300;
  --color-success: #03cea4;
  --color-danger: #ff4242;
  --color-warning: #f89828;
  --color-info: #5a87fc;
  --color-black: #1e212c;
  --color-gray--800: #424551;
  --color-gray--700: #787a80;
  --color-gray--600: #9a9ca5;
  --color-gray--500: #b3b7bc;
  --color-gray--400: #d7dadd;
  --color-gray--300: #e5e8ed;
  --color-gray--200: #f4f5f6;
  --color-gray--100: #f9f9f9;
}
