@import "vars";
@import "mixins";
@import "fonts";
@import "settings";
@import "./components/header";
@import "./components/footer";
@import "./components/home/hero";
@import "./components/home/video";
@import "./components/home/cores";
@import "./components/home/services";
@import "./components/home/projects";
@import "./components/home/partners";
@import "./components/home/facts-news";
@import "./components/feedback";

.page__body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: var(--vh);
}

.container {
  position: relative;
  max-width: var(--container-width);
}
